@charset "utf-8";

/* 追加(ページ全体の小さな余白を0に) */
body,
html {
    margin: 0;
    padding: 0;
}



.inner {
    max-width: 1100px;
    width: 100%;
    margin: 0 auto;
}

header {
    background-color: #fff;
}

.header-nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px 50px;
}

.fas.fa-archway {
    color: #777;
    font-size: 30px;
}

.contact-button {
    font-size: 10px;
    display: inline-block;
    padding: 10px 15px;
    background-color: #6ba7eb;
    color: #fff;
    text-decoration: none;
    transition: color 0.3s;
}

.menu-icon {
    display: none;
}

.contact-button:hover {
    color: #333;
}

.keyvisual {
    background-image: url("../images/keyvisual/keyvisual.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding: 400px 0;
    /* ↓100％を追加しました */
    width: 100%;
}

h1 {
    font-size: 65px;
    font-weight: 700;
    color: #6ba7eb;
    margin-bottom: 30px;
    text-align: center;
}

.keyvisual_text {
    font-size: 40px;
    font-weight: 700;
    color: #fff;
    text-align: center;
    margin: 0;
}


.news {
    background-color: #e3f2fd;
    /* padding: 50px 50px 0 50px削除 */
    /* ↓追加 */
    padding-top: 50px;
    width: 100%;
    text-align: center;
}

/* .news.inner追加 */
.news .inner {
    padding: 0 50px;
    max-width: 1100px;
    width: 100%;
    margin: 0 auto;
    padding: 0 50px;
    /* 内側の余白 */
    box-sizing: border-box;
    /* ←追加: padding分も幅に含める */
}

.news-wrapper {
    display: flex;
    align-items: flex-start;
    gap: 120px;
}

.news-img {
    padding-top: 40px;
    width: 250px;
    object-fit: cover;
    flex-shrink: 0;
}

.news-text {
    display: flex;
    flex-direction: column;
}

h2 {
    padding-top: 20px;
    padding-bottom: 35px;
    font-size: 40px;
    letter-spacing: 10px;
    text-align: center;
}

.news_text p {
    font-size: 15px;
    line-height: 18px;
    word-break: break-all;
}

h3 {
    font-size: 40px;
    letter-spacing: 10px;
    text-align: center;
}

.skills {
    background-color: #fff;
    padding-top: 50px;
    text-align: center;
    /* ↓追加 */
    width: 100%;
}

.skills-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 100px;
    margin: 0 auto;
}

.skills-wrapper img {
    width: 300px;
    height: 300px;
    object-fit: cover;
    display: block;
    opacity: 0.7;
}

.skills-wrapper img:hover {
    opacity: 1.0;
}

.skills-wrapper img:nth-child(-n+3) {
    margin-bottom: 100px;
}

.plan {
    background-color: #d0dfea;
    padding: 50px 0;
    text-align: center;
    /* ↓追加 */
    width: 100%;
}

h4 {
    font-size: 40px;
    letter-spacing: 10px;
    margin-bottom: 50px;
}

.plan-table {
    margin: 0 auto;
    border-collapse: collapse;
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    /* ↓PC版とTB版の切り替え時ガクッとサイズが動いてしまうので追加 */
    width: 100%;

}

.plan-table thead th {
    background-color: #6ba7eb;
    padding: 10px 50px;
    border-left: 2px solid #fff;
}

.plan-table thead th:first-child {
    border-left: none;
}

.plan-table tbody td {
    font-size: 16px;
    line-height: 26px;
    padding: 10px 50px;
    border-left: 2px solid #fff;
    border-bottom: 2px solid #fff;
}

.plan-table tbody td:first-child {
    border-left: none;
}

.plan-table tbody td:first-child {
    font-weight: bold;
}

.plan-table tbody tr:nth-child(odd) {
    background-color: #f9f9f9;
}

.plan-table tbody tr:nth-child(even) {
    background-color: #e0efff;
}

.sns {

    background-color: #e3f2fd;
    display: flex;
    gap: 80px;
    justify-content: center;
    align-items: center;
    padding: 200px 0;
    /* ↓追加 */
    width: 100%;
}

/* ↓.sns .inner追加 */
.sns .inner {
    display: flex;
    justify-content: center;
}

.sns a {
    color: #8c8c8c;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 185px;
    height: 50px;
    padding: 25px 0;
    overflow: hidden;
    transition: background-color 0.5s ease;
    text-decoration: none;
}

.sns a:hover {
    background-color: #fff;
}

.sns a span {
    font-size: 40px;
}


footer {
    background-color: #cfd8dc;
}

.footer-text {
    color: #5a5959;
    font-size: 13px;
    letter-spacing: 0.5px;
    padding: 25px 50px 25px 0;
    margin: 0;
    text-align: right;
}



/* ▼ タブレット版 ▼ */

@media (max-width: 1199px) {

    .keyvisual {
        padding: 250px 0;
    }

    .news {
        padding: 50px 0;
    }

    .news .inner {
        padding: 0;
    }

    .news-wrapper {
        display: block;
        margin: 0 auto;
        width: fit-content;
        padding: 0 20px;
    }

    .news-img {
        width: 30%;
    }

    .news_text {
        width: 100%;
        display: flex;
    }

    .skills-wrapper {
        display: block;
        text-align: center;
        width: auto;
        /* PC版設定が邪魔をしまくるので既存の余白を無効化 */
        margin: 0;
        padding: 0;
        gap: 0 !important;
    }

    .skills-wrapper a {
        display: block;
        width: 300px;
        margin: 0 auto;
    }

    .skills-wrapper img {
        width: 100%;
        max-width: 300px;
        height: auto;
        margin-bottom: 0 !important;
        /* 既存の余白を無効化 */
        display: block;
    }

    .skills-wrapper a:nth-child(3n) {
        margin-bottom: 80px;
    }

    /* 3,7,11,… 枚目の下に大きめの余白を入れる */
    .skills-wrapper a:not(:nth-child(3n)) {
        margin-bottom: 0;
    }

    .plan .inner {
        padding: 0 30px;
        box-sizing: border-box;
    }

    .plan-table {
        width: 100%;
        max-width: 100%;
        table-layout: fixed;

    }

    .plan-table thead th,
    .plan-table tbody td {
        padding: 10px 20px;
        font-size: 14px;
        white-space: nowrap;
        /* 文字の折り返し防止 */
    }
}





/* ▼ スマートフォン版 ▼ */
@media (max-width: 767px) {

    .contact-button {
        display: none;
    }

    .menu-icon {
        display: inline-block;
        font-size: 30px;
        color: #aaaaaa;
    }

    .keyvisual {
        padding: 200px 0;
    }

    h1 {
        font-size: 40px;
    }

    .keyvisual_text {
        font-size: 30px;
    }

    .plan .inner {
        padding: 0 20px;
    }


    .plan-table thead th {
        font-size: 14px;
        line-height: 22px;
    }


    .plan-table tbody td {
        font-size: 12px;
    }

    .sns .inner {
        /* 縦方向に並べる */
        flex-direction: column;
        align-items: center;
        padding: 50px 0;
    }

    .sns a {
        padding: 50px;
        width: 100%;
        margin: 0 15px;
    }


}