@charset "utf-8";

/* 追加(ページ全体の小さな余白を0に) */
body,
html {
    margin: 0;
    padding: 0;
}



.inner {
    max-width: 1100px;
    width: 100%;
    margin: 0 auto;
}

header {
    background-color: #fff;
}

.header-nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px 50px;
}

.fas.fa-archway {
    color: #777;
    font-size: 30px;
}

.contact-button {
    font-size: 10px;
    display: inline-block;
    padding: 10px 15px;
    background-color: #6ba7eb;
    color: #fff;
    text-decoration: none;
    transition: color 0.3s;
}

.menu-icon {
    display: none;
}

.contact-button:hover {
    color: #333;
}

.keyvisual {
    /* ↓スライダー実装のため、画像を親要素から外す */
    /* background-image: url("../images/keyvisual/keyvisual.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat; */

    /* 画像の代わりにサイズ確認のため一旦黒をいれました */
    background-color: black;

    /* keyvisualの子要素としてスライダーの画像を流したいので画像固定用にrelative */
    position: relative;
    /* ↓消すと崩れるので消さない */
    padding: 400px 0;
    /* ↓100％を追加しました */
    width: 100%;
}

h1 {
    font-size: 65px;
    font-weight: 700;
    color: #6ba7eb;
    margin-bottom: 30px;
    text-align: center;
}

/* ↓スライダーの画像表示を一番上にしたらテキスト埋まってしまったのでテキストを一番上にするため追加 */
.keyvisual-text-area {
    position: relative;
    z-index: 10;
    /* ↓左右の画像切り替えクリックが出来なかったので追加 */
    pointer-events: none;
}

.keyvisual_text {
    font-size: 40px;
    font-weight: 700;
    color: #fff;
    text-align: center;
    margin: 0;
}


.news {
    background-color: #e3f2fd;
    /* padding: 50px 50px 0 50px削除 */
    /* ↓追加 */
    padding-top: 50px;
    width: 100%;
    text-align: center;
    /* ↓スクロールアニメーション用に追加 */
    position: relative;
}

/* .news.inner追加 */
.news .inner {
    padding: 0 50px;
    max-width: 1100px;
    width: 100%;
    margin: 0 auto;
    padding: 0 50px;
    /* 内側の余白 */
    box-sizing: border-box;
    /* ←追加: padding分も幅に含める */
}

.news-wrapper {
    display: flex;
    align-items: flex-start;
    gap: 120px;
}

.news-img {
    padding-top: 40px;
    width: 250px;
    object-fit: cover;
    flex-shrink: 0;
}

.news-text {
    display: flex;
    flex-direction: column;
}

h2 {
    padding-top: 20px;
    padding-bottom: 35px;
    font-size: 40px;
    letter-spacing: 10px;
    text-align: center;
}

.news_text p {
    font-size: 15px;
    line-height: 18px;
    word-break: break-all;
}

h3 {
    font-size: 40px;
    letter-spacing: 10px;
    text-align: center;
}

.skills {
    background-color: #fff;
    padding-top: 50px;
    text-align: center;
    /* ↓追加 */
    width: 100%;
}

.skills-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 100px;
    margin: 0 auto;
}

.skills-wrapper img {
    width: 300px;
    height: 300px;
    object-fit: cover;
    display: block;
    opacity: 0.7;
}

.skills-wrapper img:hover {
    opacity: 1.0;
}

.skills-wrapper img:nth-child(-n+3) {
    margin-bottom: 100px;
}

.plan {
    background-color: #d0dfea;
    padding: 50px 0;
    text-align: center;
    /* ↓追加 */
    width: 100%;
}

h4 {
    font-size: 40px;
    letter-spacing: 10px;
    margin-bottom: 50px;
}

.plan-table {
    margin: 0 auto;
    border-collapse: collapse;
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    /* ↓PC版とTB版の切り替え時ガクッとサイズが動いてしまうので追加 */
    width: 100%;

}

.plan-table thead th {
    background-color: #6ba7eb;
    padding: 10px 50px;
    border-left: 2px solid #fff;
}

.plan-table thead th:first-child {
    border-left: none;
}

.plan-table tbody td {
    font-size: 16px;
    line-height: 26px;
    padding: 10px 50px;
    border-left: 2px solid #fff;
    border-bottom: 2px solid #fff;
}

.plan-table tbody td:first-child {
    border-left: none;
}

.plan-table tbody td:first-child {
    font-weight: bold;
}

.plan-table tbody tr:nth-child(odd) {
    background-color: #f9f9f9;
}

.plan-table tbody tr:nth-child(even) {
    background-color: #e0efff;
}

.sns {

    background-color: #e3f2fd;
    display: flex;
    gap: 80px;
    justify-content: center;
    align-items: center;
    padding: 200px 0;
    /* ↓追加 */
    width: 100%;
}

/* ↓.sns .inner追加 */
.sns .inner {
    display: flex;
    justify-content: center;
}

.sns a {
    color: #8c8c8c;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 185px;
    height: 50px;
    padding: 25px 0;
    overflow: hidden;
    transition: background-color 0.5s ease;
    text-decoration: none;
}

.sns a:hover {
    background-color: #fff;
}

.sns a span {
    font-size: 40px;
}


footer {
    background-color: #cfd8dc;
}

.footer-text {
    color: #5a5959;
    font-size: 13px;
    letter-spacing: 0.5px;
    padding: 25px 50px 25px 0;
    margin: 0;
    text-align: right;
}



/* スライダー設定 */
/* Swiper コンテナのスタイル */
.swiper {
    position: absolute;
    /* keyvisual 内で高さを100%にするため widthとheightだけだと表示されなかったので */
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

/* スライドのスタイル */
.swiper-slide {
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.swiper-slide.slide1 {
    background-image: url('images/keyvisual/keyvisual.jpg');
}

.swiper-slide.slide2 {
    background-image: url('images/keyvisual/keyvisual2.jpg');
}

.swiper-slide.slide3 {
    background-image: url('images/keyvisual/keyvisual3.jpg');
}

/* 画像切り替えするときの左右ボタン */
.swiper-button-next,
.swiper-button-prev {
    color: #fff;
    /* ボタンを一番上に配置しないと画像に埋もれるので20 */
    z-index: 20;
}

/* ページネーション（下の〇） */
.swiper-pagination-bullet {
    background-color: #fff;
    opacity: 0.7;
}

.swiper-pagination-bullet-active {
    /* アクティブな〇の色 */
    background-color: #000;
}

/* スクロールでNEWSの大体真ん中くらいに画像を数秒出す */
.fade-in {
    /* opacity＝透明度　0は透明、1は不透明 */
    opacity: 0;
    /* 縦に50pxフェードインしてくる */
    transform: translateY(50px);
    /* ゆっくり8秒かけて猫がのっそり表示されます */
    transition: 8s ease;
    /* スクロールしても画像を固定 */
    position: absolute;
    top: 20%;
    left: 50%;
}

/* ↓これ消すとアニメーションが一回しか再生されなくなる */
.fade-in.show {
    opacity: 1;
    transform: translateY(0);
    z-index: 40;
}

/* クリックするとハートが出るようにする */
.heart {
    /* クリック位置を基準にするのでabsolute（スクロールすると一緒に動く）ではなくfixed（スクロールしても同じ位置）で配置する */
    position: fixed;
    color: rgb(238, 108, 108);
    font-size: 20px;
    /* ハートの上からクリックしても下にあるボタンがクリックできるようにする */
    pointer-events: none;
    /* 8秒かけて上に行くアニメーションを実行し、ease-outで最後ゆっくり止まる用速度の変化を指定し、forwardsで最後の状態を維持する */
    animation: float 8s ease-out forwards;
    /* 念のため表示を上にしておく */
    z-index: 50;
}

/* floatというアニメーションの中身を決めていく */
@keyframes float {

    /* アニメーション開始時0％～ */
    0% {
        /* 透明度0は透明、1は不透明　最初は表示させたいので1 */
        opacity: 1;
        /* 縦方向はまだ0　サイズは1でデフォルトのまま */
        transform: translateY(0) scale(1);
    }

    /* アニメーション終了時100％MAXの状態 */
    100% {
        opacity: 0;
        /* 上に1500px飛ばして、5倍大きくなる */
        transform: translateY(-1500px) scale(5);
    }
}


/* ▼ タブレット版 ▼ */

@media (max-width: 1199px) {

    /* innerの幅をTAB版・SP版で97%に修正 */
    .inner {
        width: 97%
    }

    .keyvisual {
        padding: 250px 0;
    }

    .news {
        padding: 50px 0;
    }

    .news .inner {
        padding: 0;
    }

    .news-wrapper {
        display: block;
        margin: 0 auto;
        width: fit-content;
        padding: 0 20px;
    }

    .news-img {
        width: 30%;
    }

    .news_text {
        width: 100%;
        display: flex;
    }

    .skills-wrapper {
        display: block;
        text-align: center;
        width: auto;
        /* PC版設定が邪魔をしまくるので既存の余白を無効化 */
        margin: 0;
        padding: 0;
        gap: 0 !important;
    }

    .skills-wrapper a {
        display: block;
        width: 300px;
        margin: 0 auto;
    }

    .skills-wrapper img {
        width: 100%;
        max-width: 300px;
        height: auto;
        margin-bottom: 0 !important;
        /* 既存の余白を無効化 */
        display: block;
    }

    .skills-wrapper a:nth-child(3n) {
        margin-bottom: 80px;
    }

    /* 3,7,11,… 枚目の下に大きめの余白を入れる */
    .skills-wrapper a:not(:nth-child(3n)) {
        margin-bottom: 0;
    }

    .plan .inner {
        padding: 0 30px;
        box-sizing: border-box;
    }

    .plan-table {
        width: 100%;
        max-width: 100%;
        table-layout: fixed;

    }

    .plan-table thead th,
    .plan-table tbody td {
        padding: 10px 20px;
        font-size: 14px;
        white-space: nowrap;
        /* 文字の折り返し防止 */
    }
}





/* ▼ スマートフォン版 ▼ */
@media (max-width: 767px) {

    /* innerの幅をTAB版・SP版で97%に修正 */
    .inner {
        width: 97%
    }

    .contact-button {
        display: none;
    }

    .menu-icon {
        display: inline-block;
        font-size: 30px;
        color: #aaaaaa;
    }

    .keyvisual {
        padding: 200px 0;
    }

    h1 {
        font-size: 40px;
    }

    .keyvisual_text {
        font-size: 30px;
    }

    .plan .inner {
        padding: 0 20px;
    }


    .plan-table thead th {
        font-size: 14px;
        line-height: 22px;
    }


    .plan-table tbody td {
        font-size: 12px;
    }

    .sns .inner {
        /* 縦方向に並べる */
        flex-direction: column;
        align-items: center;
        padding: 50px 0;
    }

    .sns a {
        padding: 50px;
        width: 100%;
        margin: 0 15px;
    }



}